[Unit]
Description=Securo database

[Service]
ExecStartPre=sh securo/securo-db.bootstrap

[Container]
Image=docker.io/pgvector/pgvector:pg16

ContainerName=securo-db
AutoUpdate=registry
Pod=securo.pod

HealthCmd=pg_isready
HealthStartPeriod=1m20s
HealthInterval=30s
HealthTimeout=30s
HealthRetries=3

Environment=POSTGRES_USER=postgres
Environment=POSTGRES_PASSWORD=postgres
Environment=POSTGRES_DB=securo

Volume=${VOLUMES_DIR}/securo/db/data:/var/lib/postgresql/data:idmap
