[Unit]
Description=Securo Web

Requires=securo.srv.service
After=securo.srv.service

[Service]
ExecStartPre=sh securo/securo.web.bootstrap

[Container]
# Needs to run as root for now as it binds port 80
Image=ghcr.io/securo-finance/securo-frontend
Pod=securo

ContainerName=securo-web
AutoUpdate=registry

Environment=FRONTEND_URL=https://money.${DOMAIN}
Environment=BACKEND_URL=http://securo-srv:8000

Volume=${VOLUMES_DIR}/securo/web/cache:/var/cache/nginx
