[Unit]
Description=Get Homepage

[Service]
ExecStartPre=sh homepage/homepage.bootstrap

[Container]
Image=docker.io/gethomepage/homepage

HostName=homepage
ContainerName=homepage
AutoUpdate=registry
Network=caddy

Environment=HOMEPAGE_ALLOWED_HOSTS=${DOMAIN}
Environment=HOMEPAGE_VAR_DOMAIN=${DOMAIN}

Volume=${VOLUMES_DIR}/homepage:/app/config:idmap
