[Unit]
Description=Get Homepage

[Service]
ExecStartPre=sh homepage.bootstrap

[Container]
Image=docker.io/gethomepage/homepage
ContainerName=homepage
Secret=DOMAIN,type=env,target=HOMEPAGE_ALLOWED_HOSTS
Secret=DOMAIN,type=env,target=HOMEPAGE_VAR_DOMAIN

Volume=${VOLUMES_DIR}/homepage:/app/config
