[Unit]
Description=FileBrowser server

[Service]
Restart=no
RestartSec=10
TimeoutStartSec={{ container_start_timeout }}

[Container]
Image=docker.io/filebrowser/filebrowser
ContainerName={{ container_name }}

Entrypoint=/bin/sh
Exec=/config/bootstrap.sh

AutoUpdate=registry
NoNewPrivileges=true
#UserNS={{ user_ns }}

Network=caddy.network

Environment=FB_DATABASE=/data/database.db

Volume={{ media }}:/srv

Volume={{ volumes }}/{{ container_name }}/config:/config:ro
Volume={{ volumes }}/{{ container_name }}/data:/data

[Install]
WantedBy=default.target
