[Unit]
Description=FileBrowser server

[Service]
Restart=no
RestartSec=10
TimeoutStartSec={{ container_start_timeout }}

[Container]
Image=docker.io/gtstef/filebrowser
ContainerName={{ container_name }}

AutoUpdate=registry
NoNewPrivileges=true
UserNS={{ user_ns }}

Network=caddy.network
PublishPort=7777:80

Environment=FB_NOAUTH=true

Volume={{ media }}:/srv

#Volume={{ volumes }}/{{ container_name }}/settings.json:/.filebrowser.json
#Volume={{ volumes }}/{{ container_name }}/database.db:/database.db

[Install]
WantedBy=default.target
