[Unit]
Description=LDAP Server

[Service]
Restart=no
RestartSec=10
TimeoutStartSec=300

[Container]
Image=docker.io/lldap/lldap:latest-alpine-rootless

ContainerName=ldap

AutoUpdate=registry
NoNewPrivileges=true

Network=caddy.network
PublishPort=17170:17170

Environment=LLDAP_LDAP_BASE_DN=dc=example,dc=com
#Environment=LLDAP_SMTP_OPTIONS__ENABLE_PASSWORD_RESET=true

Secret=LDAP_JWT_KEY,type=env,target=LLDAP_JWT_SECRET
Secret=LDAP_PASSWORD,type=env,target=LLDAP_LDAP_USER_PASS
Secret=LDAP_USERNAME,type=env,target=LLDAP_LDAP_USER_DN
Secret=LDAP_KEY_SEED,type=env,target=LLDAP_KEY_SEED

#Secret=SMTP_USERNAME,type=env,target=LLDAP_SMTP_OPTIONS__USER
#Secret=SMTP_PASSWORD,type=env,target=LLDAP_SMTP_OPTIONS__PASSWORD
#Secret=SMTP_HOST,type=env,target=LLDAP_SMTP_OPTIONS__SERVER
#Secret=SMTP_PORT,type=env,target=LLDAP_SMTP_OPTIONS__PORT

Volume={{ storage }}/ldap:/data

[Install]
WantedBy=default.target
