[Unit]
Description=ActualBudget server

[Service]
Restart=no
RestartSec=10
TimeoutStartSec=300

[Container]
Image=docker.io/actualbudget/actual-server

ContainerName=budget

AutoUpdate=registry
NoNewPrivileges=true
User=node:node

Network=caddy.network

Environment=DEBUG=actual:config
Environment=ACTUAL_OPENID_CLIENT_ID=budget
Environment=ACTUAL_OPENID_SERVER_HOSTNAME=http://budget.homelab.com
Environment=ACTUAL_OPENID_DISCOVERY_URL=http://auth.homelab.com/.well-known/oauth-authorization-server
#Environment=ACTUAL_OPENID_CLIENT_SECRET=123fkjdsfhskdf

#Environment=ACTUAL_ALLOWED_LOGIN_METHODS=openid
#Environment=ACTUAL_LOGIN_METHOD=openid

Secret=ACTUAL_BUDGET_CLIENT_SECRET,type=env,target=ACTUAL_OPENID_CLIENT_SECRET

Volume={{ storage }}/budget:/data

[Install]
WantedBy=default.target
