[Unit]
Description=Caddy Reverse Proxy

[Service]
ExecStartPre=sh caddy/caddy.bootstrap

[Container]
Image=docker.io/cilenco/caddy-ionos-dns

ContainerName=caddy
AutoUpdate=registry
Network=caddy

Environment=HOST_IP=${IP_ADDRESS}
Environment=DOMAIN=${DOMAIN}

Secret=IONOS_PREFIX,type=env,target=IONOS_PREFIX
Secret=IONOS_SECRET,type=env,target=IONOS_SECRET

PublishPort=80:8080
PublishPort=443:4430

Volume=${VOLUMES_DIR}/caddy/conf/Caddyfile:/etc/caddy/Caddyfile:ro

Volume=${VOLUMES_DIR}/caddy/certs:/certs
Volume=${VOLUMES_DIR}/caddy/data:/data
