[Unit]
Description=Caddy Reverse Proxy

[Service]
ExecStartPre=sh caddy/caddy.bootstrap

[Container]
Image=docker.io/cilenco/caddy-ionos-dns

User=65534:65534

HostName=caddy
ContainerName=caddy
AutoUpdate=registry
Network=caddy

Environment=DOMAIN=${DOMAIN}

Secret=IONOS_PREFIX,type=env,target=IONOS_PREFIX
Secret=IONOS_SECRET,type=env,target=IONOS_SECRET

PublishPort=80:8080
PublishPort=8883:8883
PublishPort=443:4430

Volume=./Caddyfile:/etc/caddy/Caddyfile:ro,idmap
Volume=${VOLUMES_DIR}/caddy/data:/data:idmap
