[Unit]
Description=Vaultwarden server

[Service]
ExecStartPre=sh vaultwarden/vaultwarden.bootstrap

[Container]
Image=docker.io/vaultwarden/server:latest-alpine@sha256:9a905c5cf5df61bb827da3805e160170741c0b53b0c63bb07e1afd3d2e21b1c8

User=65534:65534

HostName=Vaultwarden
ContainerName=vaultwarden
AutoUpdate=registry
Network=caddy

HealthCmd=/healthcheck.sh
HealthStartPeriod=1m20s
HealthInterval=30s
HealthTimeout=30s
HealthRetries=3

Environment=DOMAIN=https://passwords.${DOMAIN}

Environment=SIGNUPS_ALLOWED=false
Environment=INVITATIONS_ALLOWED=false
Environment=ROCKET_PORT=8080

Environment=SSO_PKCE=true
Environment=SSO_ENABLED=true

#Needed for Android app login
Environment=SSO_ONLY=false

Environment=SSO_CLIENT_ID=vaultwarden
Environment=SSO_AUTHORITY=https://auth.${DOMAIN}
Environment=SSO_SCOPES="openid offline_access profile email"

Secret=AUTHELIA_CLIENT_SECRET,type=env,target=SSO_CLIENT_SECRET

Volume=${VOLUMES_DIR}/vaultwarden/data:/data:idmap
