[Unit]
Description=Jellyfin streming server

[Service]
ExecStartPre=sh jellyfin/jellyfin.bootstrap

[Container]
Image=docker.io/jellyfin/jellyfin:latest@sha256:78d3ea1207d1322471fcac39a614f004f2ccf7e878f95ab2977d752f07e4dd7e

User=65534:65534

HostName=Jellyfin
ContainerName=jellyfin
AutoUpdate=registry
Network=caddy

Volume=${VOLUMES_DIR}/jellyfin/cache:/cache:idmap
Volume=${VOLUMES_DIR}/jellyfin/config:/config:idmap

Volume=${MEDIA_DIR}:/media:ro,idmap
