[Unit]
Description=Jellyfin streming server

[Service]
ExecStartPre=sh jellyfin/jellyfin.bootstrap

[Container]
Image=docker.io/jellyfin/jellyfin
ContainerName=jellyfin

Volume=${VOLUME_DIR}/jellyfin/cache:/cache
Volume=${VOLUME_DIR}/jellyfin/config:/config

Volume=${MEDIA_DIR}:/media:ro
