[Unit]
Description=Jellyfin streming server

[Service]
ExecStartPre=sh jellyfin/jellyfin.bootstrap

[Container]
Image=docker.io/jellyfin/jellyfin

ContainerName=jellyfin
AutoUpdate=registry
Network=host

Volume=${VOLUMES_DIR}/jellyfin/cache:/cache:idmap
Volume=${VOLUMES_DIR}/jellyfin/config:/config:idmap

Volume=${MEDIA_DIR}:/media:ro,idmap
