[Unit]
Description=FileBrowser server

[Service]
Restart=no
RestartSec=10
TimeoutStartSec=300

[Container]
Image=docker.io/filebrowser/filebrowser

ContainerName=filebrowser

AutoUpdate=registry
NoNewPrivileges=true
UserNS={{ user_ns }}

Network=caddy.network

Environment=FB_NOAUTH=true

Volume={{ volumes }}:/srv
Volume={{ volumes }}/filebrowser/database.db:/database.db

[Install]
WantedBy=default.target
