[Unit]
Description=FileBrowser server

[Service]
Restart=no
RestartSec=10
TimeoutStartSec={{ container_start_timeout }}

[Container]
Image=docker.io/filebrowser/filebrowser

ContainerName=filebrowser

AutoUpdate=registry
NoNewPrivileges=true
UserNS={{ user_ns }}

Network=caddy.network

Environment=FB_NOAUTH=true

Volume={{ media }}:/srv

Volume={{ volumes }}/filebrowser/settings.json:/.filebrowser.json
Volume={{ volumes }}/filebrowser/database.db:/database.db

[Install]
WantedBy=default.target
