[Unit]
Description=Caddy Reverse Proxy

[Service]
Restart=always
EnvironmentFile=/etc/selfhosted.env

[Container]
ContainerName=caddy
NoNewPrivileges=true

Image=docker.io/glopix/caddy-ionos-dns

Environment=DOMAIN=$DOMAIN

Secret=ionos_prefix,type=env,target=IONOS_PREFIX
Secret=ionos_secret,type=env,target=IONOS_SECRET

Volume=caddy.data.volume:/data
Volume=./caddyfile:/etc/caddy/Caddyfile:ro
Volume=caddy.config.volume:/config

Network=caddy.network

PublishPort=443:443
PublishPort=80:80

[Install]
WantedBy=default.target
