[Unit]
Description=Caddy Reverse Proxy

[Service]
Restart=no
RestartSec=10
TimeoutStartSec=300

[Container]
Image=docker.io/cilenco/caddy-ionos-dns

ContainerName=caddy

AutoUpdate=registry
NoNewPrivileges=true
User=caddy

Secret=DOMAIN,type=env,target=DOMAIN

Secret=IONOS_PREFIX,type=env,target=IONOS_PREFIX
Secret=IONOS_SECRET,type=env,target=IONOS_SECRET

Network=caddy.network

PublishPort=80:8080
PublishPort=443:4430

Volume=caddy.data.volume:/certs

Volume=nextcloud.app.volume:/var/www/html:ro
Volume=./caddyfile:/etc/caddy/Caddyfile:ro,Z

[Install]
WantedBy=default.target
