{
  email       noreply@{env.DOMAIN}
  storage     file_system /certs

  http_port   8080
  https_port  4430

  admin       off
}

(internal_only) {
  @not_local {
    not remote_ip 192.168.178.0/24
  }

  respond @not_local 403
}

https://*.{env.DOMAIN} {
  tls {
    dns ionos {env.IONOS_PREFIX}.{env.IONOS_SECRET}
  }

  #################################################
  # Adguard                                       #
  #################################################
  @dns host dns.{env.DOMAIN}

  handle @dns {
    reverse_proxy adguard:80
  }

  #################################################
  # Authelia                                      #
  #################################################
  @auth host auth.{env.DOMAIN}

  handle @auth {
    reverse_proxy authelia:80
  }

  #################################################
  # Home Assistant                                #
  #################################################
  @home host home.{env.DOMAIN}

  handle @home {
    reverse_proxy home:8123
    import internal_only
  }

  #################################################
  # Jellyfin                                      #
  #################################################
  @streaming host streaming.{env.DOMAIN}

  handle @streaming {
    reverse_proxy jellyfin:8096
    # import internal_only
  }

  #################################################
  # Outline                                       #
  #################################################
  @dancing host dancing.{env.DOMAIN}

  handle @dancing {
    reverse_proxy outline:3000
  }

  #################################################
  # OwnCloud                                      #
  #################################################
  @cloud host cloud.{env.DOMAIN}

  handle @cloud {
    reverse_proxy owncloud:9200
  }

  #################################################
  # Fallback                                      #
  #################################################
  handle { # all other
    abort
  }
}
