[Unit]
Description=Outline Redis

[Service]
Restart=no
RestartSec=10
TimeoutStartSec=300

[Container]
Image=docker.io/redis
ContainerName=outline-redis

AutoUpdate=registry
NoNewPrivileges=true
UserNS={{ user_ns }}

Network=caddy.network

HealthCmd="redis-cli ping | grep PONG"
HealthStartPeriod=1m20s
HealthInterval=30s
HealthTimeout=30s
HealthRetries=3

Volume={{ volumes }}/outline/cache:/data

[Install]
WantedBy=default.target
