[Unit]
Description=Outline Wiki

Requires=outline.db.service outline.cache.service
After=outline.db.service outline.cache.service

[Service]
Restart=no
RestartSec=10
TimeoutStartSec={{ container_start_timeout }}

[Container]
Image=docker.io/outlinewiki/outline
ContainerName=outline-app

AutoUpdate=registry
NoNewPrivileges=true
UserNS={{ user_ns }}

Network=caddy.network

Secret=OUTLINE_DB_URL,type=env,target=DATABASE_URL
Secret=OUTLINE_SECRET_KEY,type=env,target=SECRET_KEY
Secret=OUTLINE_CLIENT_SECRET,type=env,target=OIDC_CLIENT_SECRET
Secret=OUTLINE_UTILS_SECRET,type=env,target=UTILS_SECRET

EnvironmentFile={{ volumes }}/{{ container_name }}/env.outline

Volume={{ volumes }}/{{ container_name }}/data:/var/lib/outline/data

[Install]
WantedBy=default.target
