[Unit]
Description=Outline Wiki

Requires=outline.db.service outline.redis.service
After=outline.db.service outline.redis.service

[Service]
Restart=no
RestartSec=10
TimeoutStartSec=300

[Container]
Image=docker.io/outlinewiki/outline
ContainerName=outline-app

AutoUpdate=registry
NoNewPrivileges=true
UserNS={{ user_ns }}

Network=caddy.network

Secret=OUTLINE_SECRET_KEY,type=env,target=SECRET_KEY
Secret=OUTLINE_DATABASE_URL,type=env,target=DATABASE_URL
Secret=OUTLINE_CLIENT_SECRET,type=env,target=OIDC_CLIENT_SECRET
Secret=OUTLINE_UTILS_SECRET,type=env,target=UTILS_SECRET

EnvironmentFile=./env.outline

Volume={{ volumes }}/outline/data:/var/lib/outline/data

[Install]
WantedBy=default.target
