[Unit]
Description=Gerbil server for Wireguard

Requires=pangolin.service
After=pangolin.service

[Service]
Restart=unless-stopped
TimeoutStartSec=300

[Container]
Image=docker.io/fosrl/gerbil:latest
Exec=

ContainerName=gerbil

AutoUpdate=registry
NoNewPrivileges=true
#User=node:node

AddCapability=NET_ADMIN
AddCapability=SYS_MODULE

PublishPort=51820:51820/udp
PublishPort=443:443/tcp
PublishPort=80:80/tcp

Volume=./config:/var/config:z

[Install]
WantedBy=default.target
