[Unit]
Description=ActualBudget server

[Service]
ExecStartPre=sh budget/budget.bootstrap

[Container]
Image=docker.io/actualbudget/actual-server

ContainerName=budget
AutoUpdate=registry
Network=caddy

Environment=DEBUG=actual:config

Environment=ACTUAL_USER_CREATION_MODE=login
Environment=ACTUAL_OPENID_ENFORCE=true

Secret=AUTHELIA_CLIENT_SECRET,type=env,target=ACTUAL_OPENID_CLIENT_SECRET

Volume=${VOLUMES_DIR}/budget/data:/data
