[Unit]
Description=Ntfy server

[Service]
ExecStartPre=sh ntfy/ntfy.bootstrap

[Container]
Image=docker.io/binwiederhier/ntfy

ContainerName=ntfy
AutoUpdate=registry
Network=caddy

User=65534:65534

Environment=NTFY_LISTEN_HTTP=8080
Environment=NTFY_BEHIND_PROXY=true
Environment=TZ=Europe/Berlin

Environment=NTFY_BASE_URL=https://notifications.${DOMAIN}

Volume=${VOLUMES_DIR}/ntfy/cache:/var/cache/ntfy
Volume=${VOLUMES_DIR}/ntfy/config:/ect/ntfy