[Unit]
Description=ActualBudget server

[Service]
Restart=no
RestartSec=10
TimeoutStartSec={{ container_start_timeout }}

[Container]
Image=docker.io/actualbudget/actual-server
ContainerName={{ container_name }}

AutoUpdate=registry
NoNewPrivileges=true
UserNS={{ user_ns }}

Network=caddy.network

Environment=DEBUG=actual:config

#Secret=ACTUAL_BUDGET_CLIENT_SECRET,type=env,target=ACTUAL_OPENID_CLIENT_SECRET

Volume={{ volumes }}/{{ container_name }}:/data

[Install]
WantedBy=default.target
