[Unit]
Description=Authelia

Requires= ldap.service
After= ldap.service

[Service]
ExecStartPre=sh authelia/authelia.bootstrap

[Container]
Image=docker.io/authelia/authelia
ContainerName=authelia

Secret=DOMAIN,type=env,target=DOMAIN

Secret=AUTHELIA_JWT_SECRET,type=env,target=JWT_SECRET
Secret=AUTHELIA_SESSION_SECRET,type=env,target=SESSION_SECRET
Secret=AUTHELIA_OIDC_HMAC_SECRET,type=env,target=OIDC_HMAC_SECRET
Secret=AUTHELIA_STORAGE_ENCRYPTION_KEY,type=env,target=STORAGE_ENCRYPTION_KEY

Secret=AUTHELIA_CLIENT_SECRET,type=env,target=CLIENT_SECRET

Secret=LDAP_USERNAME,type=env,target=LDAP_USERNAME
Secret=LDAP_PASSWORD,type=env,target=LDAP_PASSWORD

Secret=SMTP_USERNAME,type=env,target=SMTP_USERNAME
Secret=SMTP_PASSWORD,type=env,target=SMTP_PASSWORD
Secret=SMTP_HOST,type=env,target=SMTP_HOST
Secret=SMTP_PORT,type=env,target=SMTP_PORT

Environment=X_AUTHELIA_CONFIG_FILTERS=template
Environment=X_AUTHELIA_CONFIG=/config/configuration.yml

Volume=${VOLUMES_DIR}/authelia/config:/config
Volume=${VOLUMES_DIR}/authelia/secrets:/secrets:ro

Volume=./configuration.yml:/config/configuration.yml