[Unit]
Description=OxiCloud app

Requires=oxicloud.db.service
After=oxicloud.db.service

[Service]
ExecStartPre=sh oxicloud/oxicloud.app.bootstrap

[Container]
Image=docker.io/diocrafts/oxicloud

ContainerName=oxicloud-app
AutoUpdate=registry
Pod=oxicloud.pod

HealthCmd=wget -qO- http://localhost:8086/ready || exit 1
HealthStartPeriod=1m20s
HealthInterval=30s
HealthTimeout=30s
HealthRetries=3

Environment=OXICLOUD_SERVER_HOST=0.0.0.0
Environment=OXICLOUD_SERVER_PORT=8086

Environment=OXICLOUD_DB_CONNECTION_STRING=postgres://postgres:postgres@localhost/oxicloud

Environment=OXICLOUD_OIDC_ENABLED=true
Environment=OXICLOUD_OIDC_ADMIN_GROUPS=admin
Environment=OXICLOUD_OIDC_AUTO_PROVISION=true
Environment=OXICLOUD_OIDC_DISABLE_PASSWORD_LOGIN=true
Environment=OXICLOUD_OIDC_SCOPES="openid profile email"
Environment=OXICLOUD_OIDC_PROVIDER_NAME=Authelia
Environment=OXICLOUD_OIDC_CLIENT_ID=oxicloud

Environment=OXICLOUD_OIDC_REDIRECT_URI=https://files.${DOMAIN}/api/auth/oidc/callback
Environment=OXICLOUD_OIDC_FRONTEND_URL=https://files.${DOMAIN}
Environment=OXICLOUD_OIDC_ISSUER_URL=https://auth.${DOMAIN}

Secret=AUTHELIA_CLIENT_SECRET,type=env,target=OXICLOUD_OIDC_CLIENT_SECRET
Secret=OXICLOUD_JWT_SECRET,type=env,target=OXICLOUD_JWT_SECRET

Volume=${MEDIA_DIR}:/app/storage
