[Unit]
Description=FileBrowser server

[Service]
Restart=no
RestartSec=10
TimeoutStartSec=300

[Container]
Image=docker.io/filebrowser/filebrowser

ContainerName=filebrowser

AutoUpdate=registry
NoNewPrivileges=true
#User=nobody:nogroup

Network=caddy.network

Environment=FB_NOAUTH=true

Volume=/media:/srv
Volume=filebrowser-db:/database.db

[Install]
WantedBy=default.target
