[Unit]
Description=Authelia

Requires=postgres.app.service ldap.app.service
After=postgres.app.service ldap.app.service

[Service]
Restart=no
RestartSec=10
TimeoutStartSec=300

[Container]
Image=docker.io/authelia/authelia

ContainerName=authelia

AutoUpdate=registry
NoNewPrivileges=true
#User=nobody:nobody

Network=caddy.network

Secret=DOMAIN,type=env,target=DOMAIN

Secret=AUTHELIA_JWT_SECRET,type=env,target=JWT_SECRET
Secret=AUTHELIA_SESSION_SECRET,type=env,target=SESSION_SECRET
Secret=AUTHELIA_OIDC_HMAC_SECRET,type=env,target=OIDC_HMAC_SECRET
Secret=AUTHELIA_STORAGE_ENCRYPTION_KEY,type=env,target=STORAGE_ENCRYPTION_KEY
Secret=ACTUAL_BUDGET_CLIENT_SECRET,type=env,target=ACTUAL_BUDGET_CLIENT_SECRET
Secret=NEXTCLOUD_CLIENT_SECRET,type=env,target=NEXTCLOUD_CLIENT_SECRET
Secret=OUTLINE_CLIENT_SECRET,type=env,target=OUTLINE_CLIENT_SECRET
Secret=LDAP_USERNAME,type=env,target=LDAP_USERNAME
Secret=LDAP_PASSWORD,type=env,target=LDAP_PASSWORD

Secret=POSTGRES_USERNAME,type=env,target=POSTGRES_USERNAME
Secret=POSTGRES_PASSWORD,type=env,target=POSTGRES_PASSWORD

Secret=SMTP_USERNAME,type=env,target=SMTP_USERNAME
Secret=SMTP_PASSWORD,type=env,target=SMTP_PASSWORD
Secret=SMTP_HOST,type=env,target=SMTP_HOST
Secret=SMTP_PORT,type=env,target=SMTP_PORT

Environment=X_AUTHELIA_CONFIG_FILTERS=template
Environment=X_AUTHELIA_CONFIG=/config/configuration.yml

Volume=./configuration.yml:/config/configuration.yml:ro,z
Volume=./id_rsa:/secrets/test_key.pem:ro,z

[Install]
WantedBy=default.target
