[Unit]
Description=Authelia

Requires=ldap.app.service
After=ldap.app.service

[Service]
Restart=no
RestartSec=10
TimeoutStartSec=300

[Container]
Image=docker.io/authelia/authelia

ContainerName=authelia

AutoUpdate=registry
NoNewPrivileges=true

Network=caddy.network

Secret=DOMAIN,type=env,target=DOMAIN

Secret=AUTHELIA_JWT_SECRET,type=env,target=JWT_SECRET
Secret=AUTHELIA_SESSION_SECRET,type=env,target=SESSION_SECRET
Secret=AUTHELIA_OIDC_HMAC_SECRET,type=env,target=OIDC_HMAC_SECRET
Secret=AUTHELIA_STORAGE_ENCRYPTION_KEY,type=env,target=STORAGE_ENCRYPTION_KEY
Secret=OWNCLOUD_CLIENT_SECRET,type=env,target=OWNCLOUD_CLIENT_SECRET
Secret=OUTLINE_CLIENT_SECRET,type=env,target=OUTLINE_CLIENT_SECRET
Secret=LDAP_USERNAME,type=env,target=LDAP_USERNAME
Secret=LDAP_PASSWORD,type=env,target=LDAP_PASSWORD

Environment=X_AUTHELIA_CONFIG_FILTERS=template
Environment=X_AUTHELIA_CONFIG=/config/configuration.yml

Volume=./configuration.yml:/config/configuration.yml:ro,z
Volume=./id_rsa:/secrets/test_key.pem:ro,z

[Install]
WantedBy=default.target
