[Unit]
Description=Nextcloud App

Requires=nextcloud-cache.service nextcloud-db.service
After=nextcloud-cache.service nextcloud-db.service

[Service]
ExecStartPre=sh nextcloud/nextcloud-app.bootstrap

[Container]
Image=docker.io/nextcloud

ContainerName=nextcloud-app
AutoUpdate=registry
Pod=nextcloud.pod

Environment=DOMAIN=${DOMAIN}

Environment=REDIS_HOST=localhost
Environment=POSTGRES_HOST=localhost
Environment=POSTGRES_DB=nextcloud

Environment=EUROOFFICE_DOMAIN=https://office.${DOMAIN}
Environment=EUROOFFICE_INTERNAL_URL=http://nextcloud-office
Secret=NEXTCLOUD_OFFICE_JWT,type=env,target=EUROOFFICE_JWT_SECRET

Environment=POSTGRES_USER=postgres
Environment=POSTGRES_PASSWORD=postgres

#Secret=NEXTCLOUD_DB_USERNAME,type=env,target=POSTGRES_USER
#Secret=NEXTCLOUD_DB_PASSWORD,type=env,target=POSTGRES_PASSWORD

Secret=AUTHELIA_CLIENT_SECRET,type=env,target=CLIENT_SECRET

#Secret=SMTP_HOST,type=env,target=SMTP_HOST
#Secret=SMTP_PORT,type=env,target=SMTP_PORT
#Secret=SMTP_USERNAME,type=env,target=SMTP_NAME
#Secret=SMTP_PASSWORD,type=env,target=SMTP_PASSWORD
#Environment=SMTP_SECURE=ssl

Environment=NEXTCLOUD_ADMIN_USER=admin
Environment=NEXTCLOUD_ADMIN_PASSWORD=password

Environment=NEXTCLOUD_DATA_DIR=/app/data

Volume=${MEDIA_DIR}:/app/data:idmap

Volume=./post-installation.sh:/docker-entrypoint-hooks.d/post-installation/post-installation.sh:ro
