[Unit]
Description=Nextcloud database

[Service]
ExecStartPre=sh nextcloud/nextcloud-db.bootstrap

[Container]
Image=docker.io/postgres

User=999:999

PodmanArgs=--security-opt apparmor=unconfined

ContainerName=nextcloud-db
AutoUpdate=registry
Pod=nextcloud.pod

HealthCmd=pg_isready
HealthStartPeriod=1m20s
HealthInterval=30s
HealthTimeout=30s
HealthRetries=3

Environment=POSTGRES_DB=nextcloud
Environment=POSTGRES_USER=postgres

Secret=NEXTCLOUD_DB_PASSWORD,type=env,target=POSTGRES_PASSWORD

Volume=${VOLUMES_DIR}/nextcloud/db:/var/lib/postgresql:idmap
