[Unit]
Description=Nextcloud Notify Push

Requires=nextcloud-app.service
After=nextcloud-app.service

[Service]
ExecStartPre=sh nextcloud/nextcloud-push.bootstrap

[Container]
Image=ghcr.io/nextcloud/notify_push

ContainerName=nextcloud-push
AutoUpdate=registry
Pod=nextcloud.pod

Environment=NEXTCLOUD_URL=http://localhost
Environment=REDIS_URL=redis://localhost

Environment=DATABASE_URL=postgres://postgres:postgres@localhost/nextcloud
