[Unit]
Description=Nextcloud database

[Service]
ExecStartPre=sh nextcloud/nextcloud-db.bootstrap

[Container]
Image=docker.io/postgres

ContainerName=nextcloud-db
AutoUpdate=registry
Pod=nextcloud.pod

HealthCmd=pg_isready
HealthStartPeriod=1m20s
HealthInterval=30s
HealthTimeout=30s
HealthRetries=3

Environment=POSTGRES_DB=nextcloud

Environment=POSTGRES_USER=postgres
Environment=POSTGRES_PASSWORD=postgres

#Secret=NEXTCLOUD_DB_USERNAME,type=env,target=POSTGRES_USER
#Secret=NEXTCLOUD_DB_PASSWORD,type=env,target=POSTGRES_PASSWORD

Volume=${VOLUMES_DIR}/nextcloud/db:/var/lib/postgresql:idmap
