[Unit]
Description=Nextcloud Server

Requires=nextcloud.db.service
After=nextcloud.db.service

[Service]
ExecStartPre=sh nextcloud/nextcloud.app.bootstrap

[Container]
Image=docker.io/nextcloud

ContainerName=nextcloud-app
AutoUpdate=registry
Network=caddy

Secret=DOMAIN,type=env,target=DOMAIN

Environment=POSTGRES_HOST=nextcloud-db
Environment=POSTGRES_DB=nextcloud
#Environment=REDIS_HOST=redis

Secret=NEXTCLOUD_DB_USERNAME,type=env,target=POSTGRES_USER
Secret=NEXTCLOUD_DB_PASSWORD,type=env,target=POSTGRES_PASSWORD

Secret=AUTHELIA_CLIENT_SECRET,type=env,target=CLIENT_SECRET

#Secret=SMTP_HOST,type=env,target=SMTP_HOST
#Secret=SMTP_PORT,type=env,target=SMTP_PORT
#Secret=SMTP_USERNAME,type=env,target=SMTP_NAME
#Secret=SMTP_PASSWORD,type=env,target=SMTP_PASSWORD
#Environment=SMTP_SECURE=ssl

Environment=NEXTCLOUD_ADMIN_USER=admin
Environment=NEXTCLOUD_ADMIN_PASSWORD=password

Volume=${VOLUMES_DIR}/nextcloud/app:/var/www/html

Volume=./post-installation.sh:/docker-entrypoint-hooks.d/post-installation/post-installation.sh:z
