[Unit]
Description=ActualMoney server

[Service]
Restart=no
RestartSec=10
TimeoutStartSec=300

[Container]
Image=docker.io/actualbudget/actual-server

ContainerName=money

AutoUpdate=registry
NoNewPrivileges=true
User=node:node

Network=caddy.network

Volume=money.data.volume:/data

[Install]
WantedBy=default.target
