[Unit]
Description=Navidrome server

[Service]
ExecStartPre=sh navidrome/navidrome.bootstrap

[Container]
Image=docker.io/deluan/navidrome

ContainerName=navidrome
AutoUpdate=registry
Network=caddy

Environment=ND_MUSICFOLDER="./"
Environment=ND_ENABLESHARING=true
Environment=ND_REVERSEPROXYWHITELIST=10.89.0.0/24
Environment=ND_ENABLEUSEREDITING=false
Environment=ND_AGENTS=""

Volume=${VOLUMES_DIR}/navidrome/data:/data:idmap
Volume=${MEDIA_DIR}:/music:ro,idmap
