[Unit]
Description=OwnCloud Server

[Service]
#always
Restart=no
RestartSec=10
TimeoutStartSec=300

[Container]
Image=docker.io/owncloud/ocis
ContainerName=owncloud

#AutoUpdate=registry
NoNewPrivileges=true

Network=caddy.network
PublishPort=9200:9200

Volume=owncloud.config.volume:/etc/ocis

Environment=OCIS_URL=https://localhost:9200

Environment=OCIS_OIDC_ISSUER=https://auth.localhost
Environment=PROXY_OIDC_ACCESS_TOKEN_VERIFY_METHOD=none
#Environment=PROXY_OIDC_REWRITE_WELLKNOWN=true
#Environment=WEB_OIDC_CLIENT_ID=ownCloud-web

[Install]
WantedBy=default.target
