[Unit]
Description=ActualBudget server

[Service]
Restart=no
RestartSec=10
TimeoutStartSec=300

[Container]
Image=docker.io/actualbudget/actual-server

ContainerName=budget

AutoUpdate=registry
NoNewPrivileges=true
User=node:node

Network=caddy.network

Environment=ACTUAL_OPENID_CLIENT_ID=budget
Secret=ACTUAL_BUDGET_CLIENT_SECRET,type=env,target=ACTUAL_OPENID_CLIENT_SECRET
Environment=ACTUAL_OPENID_SERVER_HOSTNAME=https://money.
Environment=ACTUAL_OPENID_DISCOVERY_URL=https://auth.

Volume=budget.data.volume:/data

[Install]
WantedBy=default.target
