[Unit]
Description=HomeAssistant Server

[Service]
Restart=no
RestartSec=10
TimeoutStartSec=300

[Container]
Image=docker.io/cilenco/homeassistant

ContainerName=homeassistant

AutoUpdate=registry
#NoNewPrivileges=true

Network=caddy.network

Volume=homeassistant-config:/config
Volume=/etc/localtime:/etc/localtime:ro

Volume=./config.yaml:/config/configuration.yaml:Z

[Install]
WantedBy=default.target
