[Unit]
Description=HomeAssistant Server

[Service]
Restart=no
RestartSec=10
TimeoutStartSec=300

[Container]
Image=docker.io/cilenco/homeassistant

ContainerName=homeassistant

AutoUpdate=registry
NoNewPrivileges=true

Network=caddy.network

Volume=homeassistant.config.volume:/config
Volume=./config.yaml:/config/configuration.yaml:Z
Volume=/etc/localtime:/etc/localtime:ro

[Install]
WantedBy=default.target
