[Unit]
Description=SFTPGo server

[Service]
Restart=no
RestartSec=10
TimeoutStartSec={{ container_start_timeout }}

[Container]
Image=docker.io/drakkan/sftpgo:alpine-slim
ContainerName={{ container_name }}

AutoUpdate=registry
NoNewPrivileges=true
UserNS=keep-id

Network=caddy.network

Environment=FB_NOAUTH=true

Volume={{ media }}:/srv/sftpgo/data

Volume={{ volumes }}/{{ container_name }}/backup:/srv/sftpgo/backup
Volume={{ volumes }}/{{ container_name }}/sftpgo.json:/var/lib/sftpgo/sftpgo.json

[Install]
WantedBy=default.target
