[Unit]
Description=Immich server

Requires=immich-db.service immich-cache.service immich-ml.service
After=immich-db.service immich-cache.service immich-ml.service

[Service]
ExecStartPre=sh immich/immich-app.bootstrap

[Container]
Image=ghcr.io/immich-app/immich-server:release

ContainerName=immich-app
AutoUpdate=registry
Pod=immich.pod

Environment=IMMICH_ENV=production
Environment=TZ=Europe/Berlin

Environment=IMMICH_CONFIG_FILE=/settings.json

Environment=DB_DATABASE_NAME=immich
Environment=REDIS_HOSTNAME=localhost
Environment=DB_HOSTNAME=localhost

Secret=IMMICH_DB_USERNAME,type=env,target=DB_USERNAME
Secret=IMMICH_DB_PASSWORD,type=env,target=DB_PASSWORD

Volume=${VOLUMES_DIR}/immich/app/settings.json:/settings.json
Volume=/etc/localtime:/etc/localtime:ro

Volume=${MEDIA_DIR}:/data:idmap
