[Unit]
Description=Immich Redis

[Service]
ExecStartPre=sh immich/immich.redis.bootstrap

[Container]
Image=docker.io/redis
ContainerName=immich-redis

HealthCmd="redis-cli ping | grep PONG"
HealthStartPeriod=1m20s
HealthInterval=30s
HealthTimeout=30s
HealthRetries=3

Volume=${VOLUMES_DIR}/immich/redis:/data