[Unit]
Description=Immich ML server

[Service]
ExecStartPre=sh immich/immich.ml.bootstrap

[Container]
Image=ghcr.io/immich-app/immich-machine-learning:release
ContainerName=immich-ml

Volume=${VOLUMES_DIR}/immich/ml:/cache