[Unit]
Description=Immich ML server

[Service]
ExecStartPre=sh immich/immich-ml.bootstrap

[Container]
Image=ghcr.io/immich-app/immich-machine-learning:release@sha256:e16c2f166a8174901959fdf85e2e4c7bd1ebc4b37e0b6655de97c41408a260c4

User=65534:65534

ContainerName=immich-ml
AutoUpdate=registry
Pod=immich.pod

Volume=${VOLUMES_DIR}/immich/ml/cache:/cache:idmap
