[Unit]
Description=Immich ML server

[Service]
ExecStartPre=sh immich/immich-ml.bootstrap

[Container]
Image=ghcr.io/immich-app/immich-machine-learning:release

ContainerName=immich-ml
AutoUpdate=registry
Pod=immich.pod

Volume=${VOLUMES_DIR}/immich/ml/.cache:/.cache:idmap
Volume=${VOLUMES_DIR}/immich/ml/.config:/.config:idmap

Volume=${VOLUMES_DIR}/immich/ml/cache:/cache:idmap
