[Unit]
Description=Navidrome streming server

[Service]
Restart=no
RestartSec=10
TimeoutStartSec=300

[Container]
Image=docker.io/deluan/navidrome

ContainerName=navidrome

AutoUpdate=registry
NoNewPrivileges=true
User=nobody:nobody

PublishPort=4533:4533
Network=caddy.network

Environment=ND_ENABLEINSIGHTSCOLLECTOR=false

Volume=navidrome.data.volume:/data
Volume=/media:/media:ro

[Install]
WantedBy=default.target
