upstream dns.${DOMAIN} {
    server adguard:80;
}

server {
    server_name dns.${DOMAIN};

    http2 on;
    listen 443 ssl;

    ssl_session_timeout 5m;
    ssl_session_cache shared:SSL:50m;
    ssl_session_tickets off;

    ssl_certificate /etc/nginx/certs/${DOMAIN}.crt;
    ssl_certificate_key /etc/nginx/certs/${DOMAIN}.key;
    ssl_trusted_certificate /etc/nginx/certs/${DOMAIN}.chain.pem;
    ssl_dhparam /etc/nginx/certs/${DOMAIN}.dhparam.pem;

    ssl_stapling on;
    ssl_stapling_verify on;

    set $sts_header "";

    add_header Strict-Transport-Security $sts_header always;

    location / {
        proxy_pass http://dns.${DOMAIN};
        set $upstream_keepalive false;
    }
}
