[Unit]
Description=Nextcloud database

[Service]
Restart=no
RestartSec=10
TimeoutStartSec=300

[Container]
Image=docker.io/postgres
ContainerName=nextcloud-db

Pod=nextcloud.pod

AutoUpdate=registry
NoNewPrivileges=true
User=postgres:postgres

Environment=POSTGRES_DB=nextcloud

Secret=NEXTCLOUD_DB_USERNAME,type=env,target=POSTGRES_USER
Secret=NEXTCLOUD_DB_PASSWORD,type=env,target=POSTGRES_PASSWORD

Volume=nextcloud.db.volume:/var/lib/postgresql/data

[Install]
WantedBy=default.target
