[Unit]
Description=Nextcloud Server

Requires=postgres.app.service redis.app.service
After=postgres.app.service redis.app.service

[Service]
#always
Restart=no
RestartSec=10
TimeoutStartSec=300

[Container]
Image=docker.io/nextcloud:fpm

ContainerName=nextcloud

AutoUpdate=registry
NoNewPrivileges=true
User=www-data:www-data

Network=caddy.network

Secret=DOMAIN,type=env,target=NEXTCLOUD_TRUSTED_DOMAINS

Environment=POSTGRES_DB=nextcloud
Environment=POSTGRES_HOST=postgres
Environment=REDIS_HOST=redis

Secret=POSTGRES_USERNAME,type=env,target=POSTGRES_USER
Secret=POSTGRES_PASSWORD,type=env,target=POSTGRES_PASSWORD

Secret=NEXTCLOUD_CLIENT_SECRET,type=env,target=CLIENT_SECRET

#Secret=SMTP_HOST,type=env,target=SMTP_HOST
#Secret=SMTP_PORT,type=env,target=SMTP_PORT
#Secret=SMTP_USERNAME,type=env,target=SMTP_NAME
#Secret=SMTP_PASSWORD,type=env,target=SMTP_PASSWORD
#Environment=SMTP_SECURE=ssl

Environment=NEXTCLOUD_ADMIN_USER=admin
Environment=NEXTCLOUD_ADMIN_PASSWORD=password

Volume=nextcloud.web.volume:/var/www/html

Volume=./selfhost.config.php:/var/www/html/config/selfhost.config.php:z
Volume=./init.sh:/docker-entrypoint-hooks.d/post-installation/init.sh:z

[Install]
WantedBy=default.target
