[Unit]
Description=Jellyfin streming server

[Service]
Restart=no
RestartSec=10
TimeoutStartSec={{ container_start_timeout }}

[Container]
Image=docker.io/jellyfin/jellyfin
ContainerName={{ container_name }}

AutoUpdate=registry
NoNewPrivileges=true
UserNS={{ user_ns }}

Network=caddy.network

Volume={{ volumes }}/{{ container_name }}/cache:/cache
Volume={{ volumes }}/{{ container_name }}/config:/config

Volume={{ volumes }}:/media:ro

[Install]
WantedBy=default.target
