[Unit]
Description=Immich database

[Service]
Restart=no
RestartSec=10
TimeoutStartSec=300

[Container]
Image=docker.io/tensorchord/pgvecto-rs:pg14-v0.2.0@sha256:90724186f0a3517cf6914295b5ab410db9ce23190a2d9d0b9dd6463e3fa298f0
Exec=postgres -c shared_preload_libraries=vectors.so -c 'search_path="$$user", public, vectors' -c logging_collector=on -c max_wal_size=2GB -c shared_buffers=512MB -c wal_compression=on

ContainerName=immich-db

AutoUpdate=registry
NoNewPrivileges=true
User=postgres:postgres

Network=caddy.network

HealthCmd=pg_isready
HealthStartPeriod=1m20s
HealthInterval=30s
HealthTimeout=30s
HealthRetries=3

Environment=POSTGRES_DB=immich

Secret=IMMICH_DB_USERNAME,type=env,target=POSTGRES_USER
Secret=IMMICH_DB_PASSWORD,type=env,target=POSTGRES_PASSWORD

Volume=immich-db:/var/lib/postgresql/data

[Install]
WantedBy=default.target
