[Unit]
Description=Immich Redis

[Service]
Restart=no
RestartSec=10
TimeoutStartSec=300

[Container]
Image=docker.io/redis
ContainerName=immich-redis

AutoUpdate=registry
NoNewPrivileges=true
User=redis:redis

Network=caddy.network

HealthCmd="redis-cli ping | grep PONG"
HealthStartPeriod=1m20s
HealthInterval=30s
HealthTimeout=30s
HealthRetries=3

Volume=immich-redis:/data

[Install]
WantedBy=default.target
