[Unit]
Description=Adguard Home server

[Service]
Restart=no
RestartSec=10
TimeoutStartSec=300

[Container]
Image=docker.io/adguard/adguardhome

ContainerName=adguard

AutoUpdate=registry
NoNewPrivileges=true
UserNS={{ user_ns }}

Network=caddy.network

PublishPort=127.0.0.1:53:5300/tcp
PublishPort=127.0.0.1:53:5300/udp

PublishPort={{ ansible_facts['default_ipv4']['address'] }}:53:5300/tcp
PublishPort={{ ansible_facts['default_ipv4']['address'] }}:53:5300/udp

Volume={{ volumes }}/adguard/conf:/opt/adguardhome/conf:Z
Volume={{ volumes }}/adguard/work:/opt/adguardhome/work:Z

[Install]
WantedBy=default.target
