[Unit]
Description=Outline Redis

[Service]
ExecStartPre=sh outline.cache.bootstrap

[Container]
Image=docker.io/redis
ContainerName=outline-redis

HealthCmd="redis-cli ping | grep PONG"
HealthStartPeriod=1m20s
HealthInterval=30s
HealthTimeout=30s
HealthRetries=3

Volume=${VOLUME_DIR}/outline/cache:/data
