[Unit]
Description=Outline database

[Service]
ExecStartPre=sh outline.db.bootstrap

[Container]
Image=docker.io/postgres
ContainerName=outline-db

HealthCmd=pg_isready
HealthStartPeriod=1m20s
HealthInterval=30s
HealthTimeout=30s
HealthRetries=3

Environment=POSTGRES_DB=outline

Secret=OUTLINE_DB_USERNAME,type=env,target=POSTGRES_USER
Secret=OUTLINE_DB_PASSWORD,type=env,target=POSTGRES_PASSWORD

Volume=${VOLUME_DIR}/outline/db/data:/var/lib/postgresql/data
