[Unit]
Description=Adguard Home server

[Service]
Restart=no
RestartSec=10
TimeoutStartSec=300

[Container]
Image=docker.io/adguard/adguardhome

ContainerName=adguard

AutoUpdate=registry
NoNewPrivileges=true
#User=nobody:nobody

Network=caddy.network

PublishPort=3000:3000
PublishPort=<DEVICE_IP>53:53/tcp
PublishPort=<DEVICE_IP>53:53/udp

Volume=adguard.config.volume:/opt/adguardhome/conf
Volume=adguard.work.volume:/opt/adguardhome/work

Volume=caddy.certs.volume:/certs:ro

[Install]
WantedBy=default.target
