[Unit]
Description=Adguard Home server

[Service]
Restart=no
RestartSec=10
TimeoutStartSec=300

[Container]
Image=docker.io/adguard/adguardhome

ContainerName=adguard

AutoUpdate=registry
#UserNS=auto
#:size=1024
NoNewPrivileges=true
User=nobody:nobody

Network=caddy.network

PublishPort=3000:3000
PublishPort=853:853/tcp
PublishPort=853:853/udp

Volume=adguard.config.volume:/opt/adguardhome/conf
Volume=adguard.work.volume:/opt/adguardhome/work

[Install]
WantedBy=default.target
