[Unit]
Description=FileBrowser server

[Service]
ExecStartPre=sh filebrowser/filebrowser.bootstrap

[Container]
Image=docker.io/filebrowser/filebrowser
ContainerName=filebrowser

Volume=${VOLUMES_DIR}/filebrowser/config:/config
Volume=${VOLUMES_DIR}/filebrowser/database:/database

Volume=${MEDIA_DIR}:/srv