[Unit]
Description=Adguard Home server

[Service]
ExecStartPre=sh adguard/adguard.bootstrap

[Container]
Image=docker.io/adguard/adguardhome
ContainerName=adguard

PublishPort=127.0.0.1:53:5300/tcp
PublishPort=127.0.0.1:53:5300/udp

PublishPort={{ ansible_facts['default_ipv4']['address'] }}:53:5300/tcp
PublishPort={{ ansible_facts['default_ipv4']['address'] }}:53:5300/udp

Volume=${VOLUME_DIR}/adguard/conf:/opt/adguardhome/conf:Z
Volume=${VOLUME_DIR}/adguard/work:/opt/adguardhome/work:Z