[Unit]
Description=Adguard Home server

[Service]
ExecStartPre=sh adguard/adguard.bootstrap

[Container]
Image=docker.io/adguard/adguardhome

HostName=adguard
ContainerName=adguard
AutoUpdate=registry

Network=caddy

PublishPort=127.0.0.1:53:5300/tcp
PublishPort=127.0.0.1:53:5300/udp

PublishPort=${IP_ADDRESS}:53:5300/tcp
PublishPort=${IP_ADDRESS}:53:5300/udp

Volume=${VOLUMES_DIR}/adguard/conf:/opt/adguardhome/conf:idmap
Volume=${VOLUMES_DIR}/adguard/work:/opt/adguardhome/work:idmap
