[Unit]
Description=PyLoad Downloader

[Service]
Restart=no
RestartSec=10
TimeoutStartSec=${CONTAINER_START_TIMEOUT}

[Container]
Image=docker.io/mobilistics/pyload
ContainerName=pyload

Environment=TZ=Europe/Berlin
Volume={{ media }}:/downloads

Volume=${VOLUME_DIR}/pyload:/config
