[Unit]
Description=SplitPro server

Requires=split.db.service
After=split.db.service

[Service]
Restart=no
RestartSec=10
TimeoutStartSec=${CONTAINER_START_TIMEOUT}

[Container]
Image=docker.io/ossapps/splitpro
ContainerName=split-app

AutoUpdate=registry
NoNewPrivileges=true
UserNS=${USER_NAMESPACE}

Network=caddy.network
PublishPort=3000:3000

Environment=NEXTAUTH_URL="http://localhost:3000"

Secret=SPLIT_DB_URL,type=env,target=DATABASE_URL
Secret=SPLIT_SECRET,type=env,target=NEXTAUTH_SECRET

[Install]
WantedBy=default.target
