[Unit]
Description=Bewcloud database

[Service]
ExecStartPre=sh bewcloud/bewcloud.db.bootstrap

[Container]
Image=docker.io/postgres
ContainerName=bewcloud-db

User=65534:65534

HealthCmd=pg_isready
HealthStartPeriod=1m20s
HealthInterval=30s
HealthTimeout=30s
HealthRetries=3

Environment=POSTGRES_DB=bewcloud

Secret=BEWCLOUD_DB_USERNAME,type=env,target=POSTGRES_USER
Secret=BEWCLOUD_DB_PASSWORD,type=env,target=POSTGRES_PASSWORD

Volume=${VOLUMES_DIR}/bewcloud/db/data:/var/lib/postgresql/data
