[Unit]
Description=Jellyfin streming server

[Service]
Restart=no
RestartSec=10
TimeoutStartSec=300

[Container]
Image=docker.io/jellyfin/jellyfin

ContainerName=jellyfin

AutoUpdate=registry
NoNewPrivileges=true
User=nobody:nogroup

Network=caddy.network

Volume={{ storage }}/jellyfin/cache:/cache
Volume={{ storage }}/jellyfin/config:/config

Volume={{ storage }}:/media:ro

[Install]
WantedBy=default.target
