[Unit]
Description=PyLoad Downloader

[Service]
Restart=no
RestartSec=10
TimeoutStartSec={{ container_start_timeout }}

[Container]
Image=docker.io/mobilistics/pyload
ContainerName={{ container_name }}

AutoUpdate=registry
NoNewPrivileges=true
UserNS={{ user_ns }}

Network=caddy.network

Environment=TZ=Europe/Berlin
Volume={{ media }}:/downloads

Volume={{ volumes }}/{{ container_name }}:/config

[Install]
WantedBy=default.target
