[Unit]
Description=Caddy Reverse Proxy

[Service]
Restart=no
RestartSec=10
TimeoutStartSec={{ container_start_timeout }}

[Container]
Image=docker.io/glopix/caddy-ionos-dns

ContainerName=caddy

AutoUpdate=registry
NoNewPrivileges=true
UserNS={{ user_ns }}

Secret=DOMAIN,type=env,target=DOMAIN

Secret=IONOS_PREFIX,type=env,target=IONOS_PREFIX
Secret=IONOS_SECRET,type=env,target=IONOS_SECRET

Network=caddy.network

PublishPort=80:8080
PublishPort=443:4430

Volume={{ volumes }}/caddy/data:/data
Volume={{ volumes }}/caddy/conf:/etc/caddy/:ro

[Install]
WantedBy=default.target
