[Unit]
Description=Vaultwarden server

[Service]
ExecStartPre=sh wireguard/wireguard.bootstrap

[Container]
Image=docker.io/linuxserver/wireguard
ContainerName=wireguard

AddCapability=NET_ADMIN
AddCapability=SYS_MODULE

Sysctl=net.ipv4.conf.all.src_valid_mark=1

User=65534:65534

Volume=${VOLUMES_DIR}/wireguard/conf/vps.conf:/config/wg_confs/vps.conf