[Unit]
Description=Outline Wiki

Requires=postgres.app.service redis.app.service
After=postgres.app.service redis.app.service

[Service]
Restart=no
RestartSec=10
TimeoutStartSec=300

[Container]
Image=docker.io/outlinewiki/outline

ContainerName=outline
#Pod=outline.pod

AutoUpdate=registry
#UserNS=auto:size=1024
NoNewPrivileges=true

Network=caddy.network

Secret=OUTLINE_SECRET_KEY,type=env,target=SECRET_KEY
Secret=OUTLINE_CLIENT_SECRET,type=env,target=OIDC_CLIENT_SECRET
Secret=OUTLINE_UTILS_SECRET,type=env,target=UTILS_SECRET

EnvironmentFile=./env.outline

Environment=URL=http://dancing.localhost
Environment=OIDC_AUTH_URI=http://auth.localhost/api/oidc/authorization

Volume=outline.data.volume:/var/lib/outline/data

[Install]
WantedBy=default.target
