[Unit]
Description=Outline Database

[Service]
Restart=no
RestartSec=10
TimeoutStartSec=300

[Container]
Image=docker.io/postgres

ContainerName=outline-db
#Pod=outline.pod

AutoUpdate=registry
NoNewPrivileges=true
User=postgres:postgres

Network=caddy.network

Environment=POSTGRES_USER=user
Environment=POSTGRES_PASSWORD=pass
Environment=POSTGRES_DB=outline

Volume=outline.postgres.volume:/var/lib/postgresql/data

[Install]
WantedBy=default.target
