[Unit]
Description=Jellyfin streming server

[Service]
Restart=always

[Container]
ContainerName=jellyfin

Image=docker.io/jellyfin/jellyfin

Volume=jellyfin.cache.volume:/cache
Volume=jellyfin.config.volume:/config
Volume=/media:/media:ro

NoNewPrivileges=true

[Install]
WantedBy=default.target
