[Unit]
Description=HomeAssistant Matter Server

[Service]
ExecStartPre=sh homeassistant/hass-matter.bootstrap

[Container]
Image=ghcr.io/matter-js/matterjs-server

User=65534:65534

ContainerName=hass-matter
AutoUpdate=registry
Pod=hass.pod

Volume=${VOLUMES_DIR}/hass/matter:/data:idmap
Volume=/run/dbus:/run/dbus:ro
