[Unit]
Description=HomeAssistant Server

[Service]
ExecStartPre=sh homeassistant/hass-app.bootstrap

[Container]
Image=ghcr.io/home-assistant/home-assistant:latest

ContainerName=hass-app
AutoUpdate=registry
Pod=hass.pod

Environment=TZ=Europe/Berlin

AddDevice=-/dev/ttyUSB0:/dev/ttyUSB0

Volume=${VOLUMES_DIR}/homeassistant/app/config:/config:idmap
Volume=${VOLUMES_DIR}/homeassistant/app/run:/run:idmap

Volume=/etc/localtime:/etc/localtime:ro,idmap
