[Unit]
Description=HomeAssistant Matter Server

[Service]
ExecStartPre=sh homeassistant/hass-matter.bootstrap

[Container]
Image=ghcr.io/matter-js/matterjs-server:stable

ContainerName=hass-matter
AutoUpdate=registry
Pod=hass.pod

Volume=${VOLUMES_DIR}/homeassistant/matter:/data
Volume=/run/dbus:/run/dbus:ro
