[Unit]
Description=HomeAssistant Server

[Service]
ExecStartPre=sh homeassistant/hass-app.bootstrap

[Container]
Image=ghcr.io/home-assistant/home-assistant:latest@sha256:3e6710a7ab2a61311d9d899b719f6c3657791c63e8f4942cec4ebc42401d6b76

#User=9000:9000

# Add capabilities for bluetooth management
AddCapability=CAP_NET_ADMIN,CAP_NET_RAW


ContainerName=hass-app
AutoUpdate=registry
Pod=hass.pod

Environment=TZ=Europe/Berlin

Volume=${VOLUMES_DIR}/hass/app/config:/config:idmap
Volume=${VOLUMES_DIR}/hass/app/run:/run:idmap

Volume=/etc/localtime:/etc/localtime:ro
AddDevice=-/dev/ttyUSB0:/dev/ttyUSB0
