[Unit]
Description=HomeAssistant Server

[Service]
ExecStartPre=sh homeassistant/homeassistant.bootstrap

[Container]
Image=docker.io/homeassistant/home-assistant

ContainerName=homeassistant
AutoUpdate=registry
Network=host

User=65534:65534

Volume=${VOLUMES_DIR}/homeassistant/config:/config
Volume=${VOLUMES_DIR}/homeassistant/run:/run

Volume=/etc/localtime:/etc/localtime:ro
AddDevice=-/dev/ttyUSB0:/dev/ttyUSB0
