[Unit]
Description=HomeAssistant Server

[Container]
Image=docker.io/cilenco/homeassistant
ContainerName=homeassistant

Volume=${VOLUMES_DIR}/homeassistant:/config

Volume=/etc/localtime:/etc/localtime:ro
AddDevice=-/dev/ttyUSB0:/dev/ttyUSB0