[Unit]
Description=Zigbee2Mqtt Server

[Service]
ExecStartPre=sh homeassistant/zigbee2mqtt.bootstrap

[Container]
Image=ghcr.io/koenkk/zigbee2mqtt

ContainerName=zigbee2mqtt
AutoUpdate=registry
Network=caddy

PublishPort=8080:8080
User=65534:65534

Environment=TZ=Europe/Berlin

Volume=${VOLUMES_DIR}/zigbee2mqtt/data:/app/data

AddDevice=-/dev/ttyUSB0:/dev/ttyACM0
Volume=/run/udev:/run/udev:ro
