[Unit]
Description=Immich ML server

[Service]
Restart=no
RestartSec=10
TimeoutStartSec={{ container_start_timeout }}

[Container]
Image=ghcr.io/immich-app/immich-machine-learning:release

ContainerName=immich-ml

AutoUpdate=registry
NoNewPrivileges=true
User=www-data:www-data

Network=caddy.network

Volume=immich-ml:/cache

[Install]
WantedBy=default.target
