[Unit]
Description=FRP Client

[Service]
ExecStartPre=sh remote/remote-frpc.bootstrap

[Container]
Image=ghcr.io/fatedier/frpc:v0.69.1
Exec=-c /etc/frp/frpc.toml

ContainerName=frpc
AutoUpdate=registry
Pod=remote.pod

Volume=${VOLUMES_DIR}/frpc/frpc.toml:/etc/frp/frpc.toml
