[Unit]
Description=Adguard Home server

[Service]
Restart=no
RestartSec=10
TimeoutStartSec=300

[Container]
Image=docker.io/adguard/adguardhome

ContainerName=adguard

AutoUpdate=registry
NoNewPrivileges=true
UserNS=keep-id

Network=caddy.network

PublishPort=127.0.0.1:53:5300/tcp
PublishPort=127.0.0.1:53:5300/udp

PublishPort={{ ansible_facts['default_ipv4']['address'] }}:53:5300/tcp
PublishPort={{ ansible_facts['default_ipv4']['address'] }}:53:5300/udp

Volume={{ storage }}/adguard/conf:/opt/adguardhome/conf:Z
Volume={{ storage }}/adguard/work:/opt/adguardhome/work:Z

Volume=caddy.certs.volume:/certs:ro

[Install]
WantedBy=default.target
