[Unit]
Description=Outline database

[Service]
Restart=no
RestartSec=10
TimeoutStartSec=300

[Container]
Image=docker.io/postgres
ContainerName=outline-db

AutoUpdate=registry
NoNewPrivileges=true
User=postgres:postgres

Network=caddy.network

HealthCmd=pg_isready
HealthStartPeriod=1m20s
HealthInterval=30s
HealthTimeout=30s
HealthRetries=3

Environment=POSTGRES_DB=outline

Secret=OUTLINE_DB_USERNAME,type=env,target=POSTGRES_USER
Secret=OUTLINE_DB_PASSWORD,type=env,target=POSTGRES_PASSWORD

Volume={{ storage }}/outline/db:/var/lib/postgresql/data

[Install]
WantedBy=default.target
