[Unit]
Description=EuroOffice

[Service]
ExecStartPre=sh eurooffice/eurooffice.bootstrap

[Container]
Image=ghcr.io/euro-office/documentserver:latest@sha256:889e681923d2dcc8bdfb92fe128d10e185fcff880d302b6a0c0c7bf339499290

HostName=EuroOffice
ContainerName=eurooffice
AutoUpdate=registry
Network=caddy


Environment=JWT_ENABLED=true
Environment=JWT_HEADER=Authorization
Environment=EXAMPLE_ENABLED=true

Secret=NEXTCLOUD_OFFICE_JWT,type=env,target=JWT_SECRET
