[Unit]
Description=SplitPro server

Requires=split.db.service
After=split.db.service

[Service]
Restart=no
RestartSec=10
TimeoutStartSec={{ container_start_timeout }}

[Container]
Image=docker.io/ossapps/splitpro
ContainerName={{ container_name }}

AutoUpdate=registry
NoNewPrivileges=true
UserNS={{ user_ns }}

Network=caddy.network
PublishPort=3000:3000

Environment=NEXTAUTH_URL="http://localhost:3000"

Secret=SPLIT_DB_URL,type=env,target=DATABASE_URL
Secret=SPLIT_SECRET,type=env,target=NEXTAUTH_SECRET

[Install]
WantedBy=default.target
