[Unit]
Description=HomeAssistant Server

[Service]
Restart=no
RestartSec=10
TimeoutStartSec=300

[Container]
Image=docker.io/cilenco/homeassistant

ContainerName=homeassistant

AutoUpdate=registry
#NoNewPrivileges=true
#GroupsAdd=dialout

Network=caddy.network

Volume=homeassistant-config:/config
Volume=/etc/localtime:/etc/localtime:ro

Volume=./configuration.yaml:/config/configuration.yaml:Z

AddDevice=-/dev/ttyUSB0:/dev/ttyUSB0

[Install]
WantedBy=default.target
