[Unit]
Description=Autorestic backup

[Service]
Restart=no
TimeoutStartSec=300

[Container]
Image=docker.io/cupcakearmy/autorestic
Exec=backup -va -c /conf/autorestic.yaml

ContainerName=autorestic

AutoUpdate=registry
NoNewPrivileges=true
#UserNS=keep-id

Volume=./autorestic.yaml:/conf/autorestic.yaml:z,ro
#Volume=./rclone.conf:/root/.config/rclone/rclone.conf:z,ro

Volume=./data:/data:z,ro
Volume=./backup:/backup:z
