[Unit]
Description=Postgres database

[Service]
Restart=no
RestartSec=10
TimeoutStartSec=300

[Container]
Image=docker.io/postgres

ContainerName=postgres

AutoUpdate=registry
NoNewPrivileges=true
User=postgres:postgres

Network=caddy.network

Secret=POSTGRES_USER,type=env,target=POSTGRES_USER
Secret=POSTGRES_PASSWORD,type=env,target=POSTGRES_PASSWORD

Volume=postgres.data.volume:/var/lib/postgresql/data

[Install]
WantedBy=default.target
