[Unit]
Description=Redis Server

[Service]
Restart=no
RestartSec=10
TimeoutStartSec=300

[Container]
Image=docker.io/redis

ContainerName=redis

AutoUpdate=registry
NoNewPrivileges=true
User=redis:redis

Network=caddy.network

Volume=redis.data.volume:/data

[Install]
WantedBy=default.target
